<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813048114703-vjm95tfj2vp0v0iguhlq9rl7180m9pim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813048114703-vjm95tfj2vp0v0iguhlq9rl7180m9pim</string>
	<key>API_KEY</key>
	<string>AIzaSyAknsu5dIxJADmds-p5xV5UyR6oRupTiAo</string>
	<key>GCM_SENDER_ID</key>
	<string>813048114703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>auth-24f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-24f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813048114703:ios:205b08371580bb72907d7a</string>
	<key>DATABASE_URL</key>
	<string>https://auth-24f5a-default-rtdb.firebaseio.com</string>
</dict>
</plist>